
<div class="content">
    <div class="section-title">
        <h2 class="center-text">Message From The Director</h2>
    </div>
    <div class="director-section">
      <img src="https://e1.pxfuel.com/desktop-wallpaper/178/316/desktop-wallpaper-prime-video-motu-patlu-season-2-dr-jhatka-thumbnail.jpg" alt="Director" class="director-image">
      <div class="director-text">
        <span class="bullet-point"></span>
        <p>Greetings to all!

            It is with great pleasure that I write this in the capacity of the Director of this prestigious institute. I thank all the faculty members, students, and staff for their continuing efforts every day in keeping this distinguished institute of national importance at the top of the ranking scales, year after year.
            The role of a campus in ensuring quality learning is of great significance, which already has a world-class campus, will now ensure it is further infused with the spirit of inclusivity, by celebrating the pluralism of cultures, nationalities, and personalities in a global world. We envision our campus to reflect the ethos of innovation, entrepreneurship, and dynamism of spirit. Each student should foster an endless, restless quest to look for solutions to real-world problems thereby contributing to the society we live in and helping our nation truly be “atma-nirbhar” (self-reliant).
            To conclude, I once again welcome you to this great centre of learning where the world amalgamates. Let us all continue to hold the torch high of this Institute as we look in to the future :~Dr. Jhatka    
        </p>
      </div>
    </div>
  </div>
<footer class="footer">
    <div class="container">
      <p>&copy; 2023 Horizon Hills Elementary</p>
      <p> All rights reserved.</p>
      <p>Terms of Service | Privacy Policy | License Agreement</p>
    </div>
  </footer>